#idx id; idx class;

tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,false,2,32,7,90,50,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,false,2,32,14,7000,50,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,false,2,32,21,410000,50,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,false,2,32,7,90,50,SparseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,false,2,32,14,7000,50,SparseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,false,2,32,21,410000,50,SparseVectorFloat>

tf_idf_falconn_idx;tf_idf_falconn_idx<4,false,false,false,2,32,9,2032,110,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<5,false,false,false,2,32,11,2032,150,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<5,false,false,false,1,32,11,2032,150,DenseVectorFloat>

tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,true,2,32,14,7000,50,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<4,false,false,true,2,32,9,2032,110,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<5,false,false,true,2,32,11,2032,150,DenseVectorFloat>

#<uint64_t ngram_length_t, bool use_tdfs_t, bool use_iidf_t, bool remapt_t, uint64_t number_of_hash_tables, uint64_t number_of_hash_bits, uint64_t number_of_probes, uint8_t threshold_t, class point_type_t=SparseVectorFloat>