#idx id; idx class;

tf_idf_falconn_idx;tf_idf_falconn_idx<3,true,false,30,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,true,false,30,SparseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,true,true,30,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,true,true,30,SparseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,30,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,30,SparseVectorFloat>
#template<class point_type_t, uint64_t ngram_length_t>