#idx id; idx class;

tf_idf_falconn_idx;tf_idf_falconn_idx<3,true,false,21,100,150,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,true,false,21,100,150,SparseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,true,true,21,100,150,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,true,true,21,100,150,SparseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,21,100,150,DenseVectorFloat>
tf_idf_falconn_idx;tf_idf_falconn_idx<3,false,false,21,100,150,SparseVectorFloat>
#<uint64_t ngram_length_t, bool use_tdfs_t, bool use_iidf_t, uint64_t number_of_hash_bits, uint64_t number_of_probes, uint8_t threshold_t, class point_type_t=SparseVectorFloat>